.App {
  text-align: center;
}

/* Navigation */
.link {
  text-decoration: none !important;
  color: #fff;
}

.brand {
  font-weight: bold;
}

.special {
  color: #B5E5CF;
}

/* Item */
.Item {
  width: 300px;
}

.card-img-container {
  height: 300px;
}

.card-img {
  width: 70% !important;
}

.card-body {
  background-color: #B5E5CF;
  width: 100%;
}